body {
  margin: 0;
  font-family: "Lora", serif;
  background-color: #000;
}

.scroll-element {
  height: 100%;
  font-size: 60px;
  font-family: "Kapakana", cursive;
  color: #eaeaea;
  text-align: center;
  padding-top: 50px;
}

.header_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('media/background/1333.png');
    background-size: cover;
}
.top_head {
    background-color: #FF8400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 25px 0px 25px;
}
.logo {
    color: #fff;
    font-size: 35px;
    font-weight: 900;
}
.header_menu {
    display: flex;
    gap: 20px;
}
.menu_link {
    font-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.4s all ease-in-out;
}
.menu_link:hover {
    transform: translateY(-4px);
    color: #2fff00;
}
.header_text {
    font-family: "Kapakana", cursive;
    color: #fff;
    font-size: 120px;
    margin: auto auto;
}

.cards_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
/*Cards*/
.cards_section {
  margin-top: 100px;
}
.card_items {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #fff;
    font-family: "Lora", serif;
    margin-left: 34px;
    max-width: 500px;
    height: 322px;
    transition: 0.4s all ease-in-out;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.card_items-b {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #000;
  z-index: 1;
  border-radius: 6px;
}
.card_items:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 190, 0.75);
    transform: scale(1.02);
}
.card_items::before { 
    content: '';
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}
/* Overlay */
.card_items::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}
.card_image {
    display: flex;
    align-self: center;
    height: 250px;
    min-width: 200px;
    border-radius: 10px;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    margin: 10px;
    z-index: 3;
}
.card_image img {
    width: 100%;
}
.status {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 22px;
    background-color: #ff84006a;
    border-radius: 7px;
    margin-top: 3px;
    margin-right: 3px;
    z-index: 3;
}
.card_pres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.game_name {
    font-size: 24px;
    color: #0AE2FF;
    margin: 20px auto 15px auto;
    z-index: 3;
}
.game_text {
    font-size: 16px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    z-index: 3;
}
.system {
    font-size: 16px;
    color: #00FF15;
    margin-bottom: 5px;
    z-index: 3;
}
.btn {
    font-size: 20px;
    color: #fff;
    padding: 10px 65px;
    border-radius: 10px;
    border: 1px solid #fff;
    max-width: 227px;
    text-align: center;
    background: linear-gradient(0deg,rgba(0, 196, 0, 0.76) 0%, rgba(0, 82, 5, 1) 50%, rgba(0, 176, 12, 0.77) 100%);
    margin: 10px auto;
    transition: 0.5s all ease-in-out;
    z-index: 3;
}
.btn:hover {
    background: linear-gradient(0deg,rgba(0, 107, 0, 0.76) 1%, rgba(0, 0, 0, 1) 51%, rgba(0, 97, 6, 0.77) 100%);
}
/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f_top {
}
.cont-us {
    font-size: 66px;
    color: #fff;
}
.input_section {
    font-family: "Lora", serif;
    display: flex;
    flex-direction: column;
    width: 700px;
    max-height: 412px;
    background-color: #ffffff34;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 25px;
}
.name {
    text-align: left;
    font-size: 22px;
    margin: 10px 5px;
}
.inp_name {
    font-size: 20px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #fff;
}
.inp_male {
    font-size: 20px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #fff;
}
.inp_mess {
    font-size: 20px;
    height: 60px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #fff;
}
.btn {
}
.f_bottom {
    display: flex;
    flex-direction: column;
}
.our_s {
    font-size: 66px;
    color: #fff;
}
.s_icon_container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon {
    max-height: 96px;
    max-width: 96px;
    transition: 0.3s all ease-in-out;
}
.icon img {
    width: 100%;
}
.icon:hover {
    transform: translateY(-11px);
}












/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}